[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
gevent = "*"
pika = "*"
requests = "*"
tornado = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-SocketIO = "*"
Flask-HTTPAuth = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
